* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

.myslide {
    display: none;
}

.slide-container {
    max-width: 1000px;
    margin: auto;
    position: relative;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

.prev,
.next {
    color: white;
    top: 45%;
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    width: auto;
    padding: 16px;
    cursor: pointer;
    transition: 0.6 ease;
    border-radius: 0 5px 5px 0;
    user-select: none;
}

/* position the next button */
.next {
    right: 0;
    border-radius: 5px 0 0 5px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

/* caption text */
.cap-text {
    color: white;
    font-size: 1rem;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
}

/* slide-num */
.slide-num {
    top: 0;
    color: white;
    padding: 8px 12px;
    position: absolute;
    font-size: 1rem;
}

/* make the dot */
.dot {
    cursor: pointer;
    background-color: #bbb;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 0 2px;
    display: inline-block;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* animation */
.fade {
    animation-name: right;
    animation-duration: 1.5s;
}

@keyframes fade {
    from{
        right: 0;
    }
    to{
        right: 100
        5;
    }
}

@media only screen and (max-width:500px) {

    .prev,
    .next,
    .cap-text {
        font-size: 12px;
    }
}